<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pin"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
	<service 
	    android:name=".MockService"
	    android:foregroundServiceType="location"
	    android:exported="false" 
	    android:stopWithTask="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
	    android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MapsActivity"
	    android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action
		android:name="android.intent.action.MAIN"
		android:exported="true"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
       	    android:exported="true"
            tools:node="merge" />
    </application>
</manifest>
